@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
        
body{
    background-color: rgba(163, 218, 55, 0.87);
}
.login{
    background-color: #d2e3f5;
    border: none;
    margin-top: 140px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 40px;
    transition: 0.3s ease-in-out;
    width: 250px;
}
.login:hover{
    background-color: #d2e3f5;
    border: 1px solid white;
    color: rgb(0, 0, 0);
    margin-top: 140px;
    margin-left: 500px;
    margin-right: 500px;
    border: 0;
    padding: 40px;
    width: 250px;
}
p{
    padding: 0;
    padding-bottom: 40px;
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
input{ 
    font-size: 20px;
    border: 1px solid black;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid white;
    padding: 3px;
}
.phone, .pass{
    text-align: left;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 3px;
}
button{
    background-color: rgba(59, 18, 238, 0.884);
    font-family: 'Open Sans', sans-serif;
    border: 1px wheat;
    color: white;
    border-radius: 2px;
    margin-top: 25px;
    text-align: center;
    width: 250px;
    height: 22px;
    font-size: 15px;
    transition: 0.3s ease;
}
button:hover{
    background-color: rgba(59, 18, 238, 0.884);
    border: 1px solid white;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border-radius: 2px;
    margin-top: 25px;
    text-align: center;
    width: 250px;
    height: 22px;
    font-size: 14px;
}
.new{
    background-color: rgb(109, 156, 14);
}
.new:hover{
    background-color: rgb(109, 156, 14);
}