@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
            
    body{
        background-color: rgba(152, 86, 243, 0.959);
        text-align: center;
        }
    h3{
         margin-left: 30px;
        font-size: 42px;
        color: white;
        font-weight: bold;
        margin-top: 10px;
        font-family: 'Oswald', sans-serif;            
        letter-spacing: 12px;
        }
    .user{
        color: white;
        font-weight: bold;
        font-size: 50px;
        margin-top: 80px;
        margin-bottom: 20px;
    }
    .para{
        margin-top: 20px;
        margin-left: 500px;
        margin-right: 500px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 40px;
        letter-spacing: 2px;
        color: white;
        font-size: 20px;
        font-family: 'Roboto Condensed', sans-serif;
        transition: 0.3s ease-in-out;
        }
    .para:hover{
        margin-left: 480px;
        margin-right: 480px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 30px;
        letter-spacing: 2px;
        color: white;
        font-size: 22px;
        font-family: 'Roboto Condensed', sans-serif;
        }
    a{
        text-decoration: none;
        color: white;
        font-family: 'Ubuntu', sans-serif;
        }
    .mainBox{
        margin-top: 250px;
        color: white;
        font-size: 15px;
        font-family: 'Ubuntu', sans-serif;
        }
    #details{
        padding: 20px;
        letter-spacing: 1px;
        margin-top: 100px;
        color: white;
        font-size: 15px;
        font-family: 'Ubuntu', sans-serif;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        transition: 0.3s ease-in-out;
        margin-left: 300px;
        margin-right: 300px;
        }